<a href="https://colab.research.google.com/github/tohnperfect/KKU_Data_Mining/blob/master/Pandas_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![panda.jpg]()

## First, we have to say which packages we are going to use by <font color=green>import</font> them.

In [ ]:
import pandas

## Connect with Google drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

path = '/content/drive/My Drive/DWDM_material'

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:

Mounted at /content/drive

## Create _path_ variables to store where is the data files

In [ ]:
import os

In [ ]:
search_click = os.path.join(path,'search_click.csv')
w_restaurant = os.path.join(path,'w_restaurant.csv')

## Then use _pandas_ to load the data into the environment

In [ ]:
search_click_df = pandas.read_csv(search_click)

In [ ]:
search_click_df.head()

  click_timestamp                             search_id  ...  time_diff_nanos   ads
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1  ...     2.222400e+15  True
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...     4.608380e+14  True
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...     2.581490e+15  True
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...     1.404580e+15  True
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639  ...     9.333590e+14  True

[5 rows x 6 columns]

In [ ]:
w_restaurant_df = pandas.read_csv(w_restaurant)
w_restaurant_df.head()

   id              name  domain_id  ...  hotel_restaurant pet_friendly delivery
0   2            2  ...               NaN          NaN      NaN
1   4      Corner House          1  ...               NaN          NaN      NaN
2   5              4  ...               NaN          NaN      NaN
3   6              1  ...               NaN          NaN      NaN
4   7       Buono Caffe          1  ...               NaN          NaN      NaN

[5 rows x 32 columns]

## To check if the dimension of loaded data is correct as described in the description

In [ ]:
search_click_df.shape

(1048575, 6)

In [ ]:
w_restaurant_df.shape

(246847, 32)

***

## It seem everything is ok, let's have fun with data

## 0. Point to data in the table

### normal indexing

In [ ]:
search_click_df['search_id']

0          5c004472-5ecc-4159-9698-9f329b8e26e1
1          5f34eca0-c04e-4c10-b600-54aa447dbd8e
2          8dc6d1f0-11f1-4239-9dd2-5c1674c81224
3          1a5810e9-3d1f-44b9-9a2e-26ede21c524b
4          6bc75e0d-fc65-471e-9926-ff6be6708639
                           ...
1048570    99aab616-6fc5-4fbf-994b-4aebee7bb360
1048571    d70a2c5d-ee94-4e4c-9f7c-c5faac6db12a
1048572    4c1de7fe-300e-41aa-9d01-914344fc3753
1048573    2ec0ddec-e450-4b98-9779-42b77aa7eda5
1048574    5741d9cf-b9f1-441d-aa83-d2b0179bf874
Name: search_id, Length: 1048575, dtype: object

In [ ]:
search_click_df['search_id'][0]

'5c004472-5ecc-4159-9698-9f329b8e26e1'

In [ ]:
w_restaurant_df[['name','city_name','weighted_average_rating']]

                                        name  ... weighted_average_rating
0                             ...                5.000000
1                               Corner House  ...                2.000000
2                               ...                4.000000
3                               ...                0.000000
4                                Buono Caffe  ...                3.738462
...                                      ...  ...                     ...
246842                            Sushi Tama  ...                3.663522
246843                        ...                0.000000
246844                      &  ...                4.000000
246845                              Mom Made  ...                5.000000
246846     ...                3.000000

[246847 rows x 3 columns]

### .iloc

In [ ]:
search_click_df.iloc[0,1]

'5c004472-5ecc-4159-9698-9f329b8e26e1'

In [ ]:
search_click_df.iloc[:10,:2]

  click_timestamp                             search_id
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639
5         48:16.7  92ea02ba-2c89-4efd-973c-e23526c531de
6         39:18.4  79d61918-fb3e-4181-99b6-7a7abddfcdb1
7         33:39.0  7f8b2b57-dea1-4fe1-84c8-5a7d63750e47
8         07:48.3  3d9217bb-3eae-42b5-8cf3-a756efae2cfa
9         41:25.4  a2cb0d41-6e1f-4169-9140-cb671fbb41dc

## 1 Missing Values

In [ ]:
search_click_df.isnull()

         click_timestamp  search_id  ...  time_diff_nanos    ads
0                  False      False  ...            False  False
1                  False      False  ...            False  False
2                  False      False  ...            False  False
3                  False      False  ...            False  False
4                  False      False  ...            False  False
...                  ...        ...  ...              ...    ...
1048570            False      False  ...            False  False
1048571            False      False  ...            False  False
1048572            False      False  ...            False  False
1048573            False      False  ...            False  False
1048574            False      False  ...            False  False

[1048575 rows x 6 columns]

In [ ]:
search_click_df.isnull().any()

click_timestamp     False
search_id            True
business_id          True
display_position    False
time_diff_nanos     False
ads                 False
dtype: bool

## Handling missing values 1

In [ ]:
search_click_df_nm = search_click_df.dropna()

In [ ]:
search_click_df_nm.isnull().any().any()

False

In [ ]:
print(search_click_df.shape)
print(search_click_df_nm.shape)

(1048575, 6)
(1048206, 6)

## Excercise 1   missing 

##  w_restarant  %

In [ ]:
size_before_drop = w_restaurant_df.shape[0]
size_after_drop = w_restaurant_df.dropna().shape[0]

print(f'size before drop = {size_before_drop} \nsize after drop = {size_after_drop} \
    \nwhich is {100*((size_before_drop-size_after_drop)/size_before_drop)}')

size before drop = 246847
size after drop = 4
which is 99.99837956304918

## Method 1.5

In [ ]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains            True
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

In [ ]:
w_restaurant_df.dropna(subset=['id','name','price_range']).shape

(180972, 32)

## Method 2 (raplace with reasonable value)

### we are replacing missing value in the number of chains with 0

In [ ]:
w_restaurant_df[['number_of_chains']] = w_restaurant_df[['number_of_chains']].fillna(0)

In [ ]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains           False
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

## Method 2.1 (raplace with unknown value)

## Method 3

In [ ]:
new_table = w_restaurant_df[['name','city_name','avg_price']]
new_table

                                        name  ... avg_price
0                             ...       NaN
1                               Corner House  ...       NaN
2                               ...       NaN
3                               ...       NaN
4                                Buono Caffe  ...       NaN
...                                      ...  ...       ...
246842                            Sushi Tama  ...       NaN
246843                        ...       NaN
246844                      &  ...       NaN
246845                              Mom Made  ...       NaN
246846     ...       NaN

[246847 rows x 3 columns]

### [PD] select data

In [ ]:
selected_list = new_table['city_name']=='Bangkok Metropolitan Region'
selected_list

0         False
1          True
2         False
3          True
4          True
          ...
246842     True
246843     True
246844     True
246845    False
246846    False
Name: city_name, Length: 246847, dtype: bool

In [ ]:
new_table[selected_list].head()

              name                    city_name  avg_price
1     Corner House  Bangkok Metropolitan Region        NaN
3     Bangkok Metropolitan Region        NaN
4      Buono Caffe  Bangkok Metropolitan Region        NaN
7         Sazanami  Bangkok Metropolitan Region        NaN
10  Rotee Me Chabu  Bangkok Metropolitan Region        NaN

##

In [ ]:
new_table[new_table['city_name']=='Bangkok Metropolitan Region'].dropna()['avg_price'].mean()

392.5854715094968

1.

In [ ]:
bkk_table = new_table[new_table['city_name']=='Bangkok Metropolitan Region']
bkk_table.head()

              name                    city_name  avg_price
1     Corner House  Bangkok Metropolitan Region        NaN
3     Bangkok Metropolitan Region        NaN
4      Buono Caffe  Bangkok Metropolitan Region        NaN
7         Sazanami  Bangkok Metropolitan Region        NaN
10  Rotee Me Chabu  Bangkok Metropolitan Region        NaN

2.  missing

In [ ]:
bkk_table_dp = bkk_table.dropna()
bkk_table_dp.head()

                            name                    city_name  avg_price
67                     Bangkok Metropolitan Region      375.0
134                     Cafe Cha  Bangkok Metropolitan Region      175.0
247           Masterpiece clinic  Bangkok Metropolitan Region     1500.0
319  Chaba Nails & Eyelashes Pro  Bangkok Metropolitan Region      375.0
382                Panlee Bakery  Bangkok Metropolitan Region      175.0

3  column 'avg_price'

In [ ]:
bkk_table_dp_avg_price = bkk_table_dp['avg_price']
bkk_table_dp_avg_price

67         375.0
134        175.0
247       1500.0
319        375.0
382        175.0
           ...
246458      50.0
246472    1500.0
246508     375.0
246666     375.0
246721     375.0
Name: avg_price, Length: 3001, dtype: float64

4

In [ ]:
bkk_table_dp_avg_price.mean()

392.5854715094968

##  missing method 3

In [ ]:
bkk_table[['avg_price']] = bkk_table[['avg_price']].fillna(bkk_table_dp_avg_price.mean())
bkk_table.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

              name                    city_name   avg_price
1     Corner House  Bangkok Metropolitan Region  392.585472
3     Bangkok Metropolitan Region  392.585472
4      Buono Caffe  Bangkok Metropolitan Region  392.585472
7         Sazanami  Bangkok Metropolitan Region  392.585472
10  Rotee Me Chabu  Bangkok Metropolitan Region  392.585472

In [ ]:
#bkk_table[['avg_price']].fillna(bkk_table_dp_avg_price.mean(),inplace=True)
#bkk_table.head()

## Ex 9

## [PD]  Y ( data) pd.concat

In [ ]:
cm_table = new_table[new_table['city_name']=='Chiang Mai']
cm_table[['avg_price']] = cm_table[['avg_price']].fillna(new_table[new_table['city_name']=='Chiang Mai'].dropna()['avg_price'].mean())
cm_table.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

                            name   city_name   avg_price
36                   Wrap Master  Chiang Mai  188.415948
40                         Sozen  Chiang Mai  188.415948
52              Chiang Mai  188.415948
60  -   Chiang Mai  188.415948
79              Chiang Mai  188.415948



*   Smooth data (binning)
*   Remove Outlier (boxplot)
*   Reduce Data (Deduplication (remove duplication), sampling (randomly select data) vs PCA (reduce dimensions of data))
*   Data Integration (combine 2 tables vs copy some columns from another table)

# 1. Adding a field from other table
or merge the entire tables https://www.kaggle.com/crawford/python-merge-tutorial/#

## one selected column
### .map()

In [ ]:
search_click_df['bu_name'] = search_click_df['business_id'].map(w_restaurant_df.set_index('id')['name'])

In [ ]:
search_click_df

,click_timestamp,search_id,business_id,display_position,time_diff_nanos,ads,bu_name
0,2018-06-15 05:11:38.914154,5c004472-5ecc-4159-9698-9f329b8e26e1,298839.0,0,2222397704154000,True,Eight
1,2018-06-15 06:30:51.277476,5f34eca0-c04e-4c10-b600-54aa447dbd8e,171372.0,0,460838273476000,True,Yoshinoya
2,2018-06-15 06:32:09.558025,8dc6d1f0-11f1-4239-9dd2-5c1674c81224,16157.0,0,2581491438025000,True,The Hub Cafe and Eatery
3,2018-06-15 06:00:59.820390,1a5810e9-3d1f-44b9-9a2e-26ede21c524b,89741.0,1,1404578985390000,True,
4,2018-06-15 05:23:36.828525,6bc75e0d-fc65-471e-9926-ff6be6708639,189564.0,1,933358625525000,True,Yoshinoya
5,2018-06-15 05:48:16.670540,92ea02ba-2c89-4efd-973c-e23526c531de,16157.0,1,2958857086540000,True,The Hub Cafe and Eatery
6,2018-06-15 06:39:18.378022,79d61918-fb3e-4181-99b6-7a7abddfcdb1,89741.0,1,1716278058022000,True,
7,2018-06-15 06:33:38.950615,7f8b2b57-dea1-4fe1-84c8-5a7d63750e47,238270.0,1,307983383615000,True,Express
8,2018-06-15 06:07:48.293373,3d9217bb-3eae-42b5-8cf3-a756efae2cfa,112509.0,2,585304544373000,False,
9,2018-06-15 06:41:25.365830,a2cb0d41-6e1f-4169-9140-cb671fbb41dc,112509.0,2,578449410830000,False,
10,2018-06-15 04:57:57.114487,bc1ad55e-9009-4b26-8abd-6982978cbbcd,331572.0,3,147703752487000,False,Le Boeuf The Steak & Fries Bistro
11,2018-06-15 05:02:13.717390,3d9217bb-3eae-42b5-8cf3-a756efae2cfa,331572.0,3,581369938390000,False,Le Boeuf The Steak & Fries Bistro
12,2018-06-15 05:12:27.210981,7f55a811-7827-4c49-86a6-52cb0c02eb90,331572.0,3,471852218981000,False,Le Boeuf The Steak & Fries Bistro
13,2018-06-15 06:11:07.020884,3d9217bb-3eae-42b5-8cf3-a756efae2cfa,331572.0,3,585503241884000,False,Le Boeuf The Steak & Fries Bistro
14,2018-06-15 04:58:28.867936,db1dfa8f-6a3a-4bd7-b9bd-ffd17cbfec0f,273486.0,4,104561033936000,False,Bankara Ramen
15,2018-06-15 05:49:16.946393,0cf0872e-e6a4-4fbb-a71a-1cebd62d97fc,275943.0,4,2743135990393000,False,Bake a wish Japanese Homemade Cake
16,2018-06-15 06:37:41.373098,80675c9e-c7cd-4e54-9f38-034ff5cc180f,286196.0,5,606154211098000,False,Fillets
17,2018-06-15 06:38:15.980718,5b229f50-0b36-48c8-bb94-d2351611ebf8,250135.0,5,3247279715718000,False,Kosirae
18,2018-06-15 06:28:00.829863,7b3e98a3-71d5-413f-8ab5-fe62b435572c,275943.0,7,464458570863000,False,Bake a wish Japanese Homemade Cake
19,2018-06-15 06:58:10.186311,801c5dc9-5eb0-4333-a585-189bd9134ff1,125496.0,7,1347791581311000,False,Sushi Masa
20,2018-06-15 06:33:47.318876,0b3baa5d-1ce2-4f37-9ed2-337ccf39a81e,98956.0,8,1501138607876000,False,Arno's Butcher and Eatery
21,2018-06-15 05:30:30.866493,0b0cb8e9-0e3c-4b7b-8b8f-468bf75bc22c,199058.0,9,1705221684493000,False,Katsushin ()
22,2018-06-15 06:19:08.929452,a4b25240-a109-4c15-ba9f-42f27e55efad,98956.0,9,532315648452000,False,Arno's Butcher and Eatery
23,2018-06-15 06:46:57.082058,27c933f6-4b52-473a-a381-85ba5074c4a2,98956.0,9,550604997058000,False,Arno's Butcher and Eatery
24,2018-06-15 06:32:17.479651,829cca3c-5ae7-4359-b74b-821135a66d75,98956.0,9,467772042651000,False,Arno's Butcher and Eatery
25,2018-06-15 06:19:13.121808,1bea6e55-a3bf-4604-bbad-d16248876d3d,60155.0,9,2399275582808000,False,Chocolate Ville
26,2018-06-15 05:35:15.473216,bc1ad55e-9009-4b26-8abd-6982978cbbcd,199058.0,10,149942042216000,False,Katsushin ()
27,2018-06-15 05:51:57.818187,59f51461-f730-4eea-a38d-037b6d7edeb0,60155.0,10,1237675606187000,False,Chocolate Ville
28,2018-06-15 05:18:51.357792,2388ca79-4bab-4b7b-b3d8-692b1d7e6cf7,60155.0,10,1618106625792000,False,Chocolate Ville
29,2018-06-15 06:29:14.175581,b0b61792-7a46-4e20-87a8-c0894028f025,199058.0,10,343456938581000,False,Katsushin ()
...,...,...,...,...,...,...,...
7882007,2018-06-28 03:04:38.688831,fb294961-7655-48ac-863c-0622ac6eb213,189896.0,11,201684516831000,True,LE ROOT
7882008,2018-06-28 02:46:20.774890,fb6b26b1-42c8-4a0a-a18a-2e96b82dc978,244037.0,11,198392234890000,True,La Baguette
7882009,2018-06-28 03:06:19.660861,fb8bde4f-07dc-41e1-9eb0-5b1ee1bb23e3,164383.0,11,208542734861000,True,
7882010,2018-06-28 04:36:17.821334,fbc1d0e2-561a-4c9f-a057-91de4719a159,29839.0,11,209855398334000,True,Gorilla Grill
7882011,2018-06-28 03:52:17.140538,fd05a947-0e26-4706-9363-ce7f909b66c1,240258.0,11,205050653538000,True,Coral Bungalows
7882012,2018-06-28 02:59:45.960274,fd7b0252-65b2-4019-9d10-0a59a85ab332,67265.0,11,207157503274000,True,Daddy's Antique Cafe & Restaurant
7882013,2018-06-28 04:28:46.122453,fddfded5-a6a2-45b1-8c9c-dc44e5c27b44,240033.0,11,209204432453000,True,Le Marin Restaurant
7882014,2018-06-28 03:20:15.729406,fe7cdab0-1abe-4a02-983f-d6bb57008b2c,172652.0,11,205187947406000,True,(Reunros)
7882015,2018-06-28 02:38:11.631020,fea45463-61d4-4309-a6f6-362c935cdb9e,16614.0,11,205023370020000,True,CORO Field Cafe
7882016,2018-06-28 01:45:36.191993,feb92541-2311-4002-b040-2e59e9eaa52c,93853.0,11,200776108993000,True,PABLO mini Cheese Tart
7882017,2018-06-28 01:31:52.451333,fed68a73-9567-47fb-bd92-8edecbe4bf8a,247196.0,11,198553207333000,True,Sushi Cyu & Carnival Yakiniku
7882018,2018-06-28 04:35:51.858498,ff12f77e-e90e-4267-bec6-0f5958183494,182530.0,11,212419460498000,True,
7882019,2018-06-28 02:56:28.920305,ff1c8485-74fa-4986-bb49-600eb3869926,36765.0,11,207024388305000,True,
7882020,2018-06-28 02:36:42.750199,ff704c6a-9974-462e-9eb4-5c97f7a942f6,304669.0,11,202569029199000,True,Dripoly Cafe
7882021,2018-06-28 06:43:29.213547,3059ca8e-fb7a-4a1d-bd82-c1970ec4ec8f,164383.0,11,16710547000,True,
7882022,2018-06-28 04:29:22.558914,488dad5a-5f38-4422-9c20-eb710d263cdc,269423.0,11,161675914000,True,Sushi Mori
7882023,2018-06-28 05:10:32.958794,49110256-777b-4e99-8b54-6fc13231788a,230281.0,11,106517794000,True,Food Universe Thai International Cuisine
7882024,2018-06-28 03:00:53.657497,4e70837c-69bc-477f-a1d7-26f534722dac,252499.0,11,9162497000,True,
7882025,2018-06-28 02:10:14.300088,55d6ab77-2388-4beb-b0c3-94c57710922d,273596.0,11,8934088000,True,(Tonklar Facai)
7882026,2018-06-28 06:42:52.625642,58fef246-5a06-441a-b27e-2250ad5d47d7,304669.0,11,31291642000,True,Dripoly Cafe
7882027,2018-06-28 01:25:07.953185,5d6f18b4-c147-46a6-806d-92fbf4abadcf,100611.0,11,18259185000,True,Zood Zood
7882028,2018-06-28 05:35:18.653329,60bfb598-5c43-4e4e-98f4-e62bbe481546,240015.0,11,580967283329000,True,
7882029,2018-06-28 02:20:15.685338,8e138254-4546-4c7d-b1c3-9a3917290d17,335110.0,11,55937338000,True,
7882030,2018-06-28 06:41:46.111283,9c0e3c40-56a2-4d5d-b54e-c4d88f89f008,250231.0,11,29000283000,True,Enjoy Coffee and Bistro
7882031,2018-06-28 06:11:26.260735,9c581fe0-2d5c-4a93-91a5-5ff27a6bb2e1,107671.0,11,249069735000,True,Meruto Sushi
7882032,2018-06-28 01:59:10.893735,9ecd2dc1-b6f6-486d-b751-33eb16c53951,16614.0,11,4366735000,True,CORO Field Cafe
7882033,2018-06-28 01:59:11.085196,9ecd2dc1-b6f6-486d-b751-33eb16c53951,16614.0,11,4558196000,True,CORO Field Cafe
7882034,2018-06-28 06:49:02.493141,d086453d-7fde-4766-af39-8205f0f0a4aa,19569.0,11,16961141000,True,Fat Belly Pattaya
7882035,2018-06-28 06:36:02.865507,d157eba1-15e6-4f7a-b090-27a311d976a0,227719.0,11,27917507000,True,The River Barn
7882036,2018-06-28 06:20:35.249050,fb09595c-26cf-4bf3-a51b-1a9b4dd2fe50,316442.0,11,86426050000,True,Deven Chef Restaurant :Indian Food

## merge two tables
### .merge()

In [ ]:
merged_table = search_click_df.merge(w_restaurant_df,how='left',left_on='business_id',right_on='id')

In [ ]:
merged_table

,click_timestamp,search_id,business_id,display_position,time_diff_nanos,ads,bu_name,id,name,domain_id,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
0,2018-06-15 05:11:38.914154,5c004472-5ecc-4159-9698-9f329b8e26e1,298839.0,0,2222397704154000,True,Eight,298839.0,Eight,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,2018-06-15 06:30:51.277476,5f34eca0-c04e-4c10-b600-54aa447dbd8e,171372.0,0,460838273476000,True,Yoshinoya,171372.0,Yoshinoya,1.0,...,NaN,NaN,NaN,NaN,0.0,3.0,NaN,NaN,NaN,1.0
2,2018-06-15 06:32:09.558025,8dc6d1f0-11f1-4239-9dd2-5c1674c81224,16157.0,0,2581491438025000,True,The Hub Cafe and Eatery,16157.0,The Hub Cafe and Eatery,1.0,...,NaN,NaN,NaN,NaN,2.0,3.0,NaN,NaN,NaN,NaN
3,2018-06-15 06:00:59.820390,1a5810e9-3d1f-44b9-9a2e-26ede21c524b,89741.0,1,1404578985390000,True,,89741.0,,1.0,...,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,1.0
4,2018-06-15 05:23:36.828525,6bc75e0d-fc65-471e-9926-ff6be6708639,189564.0,1,933358625525000,True,Yoshinoya,189564.0,Yoshinoya,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
5,2018-06-15 05:48:16.670540,92ea02ba-2c89-4efd-973c-e23526c531de,16157.0,1,2958857086540000,True,The Hub Cafe and Eatery,16157.0,The Hub Cafe and Eatery,1.0,...,NaN,NaN,NaN,NaN,2.0,3.0,NaN,NaN,NaN,NaN
6,2018-06-15 06:39:18.378022,79d61918-fb3e-4181-99b6-7a7abddfcdb1,89741.0,1,1716278058022000,True,,89741.0,,1.0,...,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,1.0
7,2018-06-15 06:33:38.950615,7f8b2b57-dea1-4fe1-84c8-5a7d63750e47,238270.0,1,307983383615000,True,Express,238270.0,Express,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
8,2018-06-15 06:07:48.293373,3d9217bb-3eae-42b5-8cf3-a756efae2cfa,112509.0,2,585304544373000,False,,112509.0,,1.0,...,NaN,NaN,NaN,2018.0,NaN,NaN,NaN,NaN,NaN,NaN
9,2018-06-15 06:41:25.365830,a2cb0d41-6e1f-4169-9140-cb671fbb41dc,112509.0,2,578449410830000,False,,112509.0,,1.0,...,NaN,NaN,NaN,2018.0,NaN,NaN,NaN,NaN,NaN,NaN
10,2018-06-15 04:57:57.114487,bc1ad55e-9009-4b26-8abd-6982978cbbcd,331572.0,3,147703752487000,False,Le Boeuf The Steak & Fries Bistro,331572.0,Le Boeuf The Steak & Fries Bistro,1.0,...,NaN,NaN,NaN,2018.0,2.0,4.0,NaN,NaN,NaN,NaN
11,2018-06-15 05:02:13.717390,3d9217bb-3eae-42b5-8cf3-a756efae2cfa,331572.0,3,581369938390000,False,Le Boeuf The Steak & Fries Bistro,331572.0,Le Boeuf The Steak & Fries Bistro,1.0,...,NaN,NaN,NaN,2018.0,2.0,4.0,NaN,NaN,NaN,NaN
12,2018-06-15 05:12:27.210981,7f55a811-7827-4c49-86a6-52cb0c02eb90,331572.0,3,471852218981000,False,Le Boeuf The Steak & Fries Bistro,331572.0,Le Boeuf The Steak & Fries Bistro,1.0,...,NaN,NaN,NaN,2018.0,2.0,4.0,NaN,NaN,NaN,NaN
13,2018-06-15 06:11:07.020884,3d9217bb-3eae-42b5-8cf3-a756efae2cfa,331572.0,3,585503241884000,False,Le Boeuf The Steak & Fries Bistro,331572.0,Le Boeuf The Steak & Fries Bistro,1.0,...,NaN,NaN,NaN,2018.0,2.0,4.0,NaN,NaN,NaN,NaN
14,2018-06-15 04:58:28.867936,db1dfa8f-6a3a-4bd7-b9bd-ffd17cbfec0f,273486.0,4,104561033936000,False,Bankara Ramen,273486.0,Bankara Ramen,1.0,...,NaN,NaN,NaN,2018.0,1.0,2.0,NaN,NaN,NaN,1.0
15,2018-06-15 05:49:16.946393,0cf0872e-e6a4-4fbb-a71a-1cebd62d97fc,275943.0,4,2743135990393000,False,Bake a wish Japanese Homemade Cake,275943.0,Bake a wish Japanese Homemade Cake,1.0,...,NaN,NaN,NaN,2018.0,NaN,NaN,NaN,NaN,NaN,NaN
16,2018-06-15 06:37:41.373098,80675c9e-c7cd-4e54-9f38-034ff5cc180f,286196.0,5,606154211098000,False,Fillets,286196.0,Fillets,1.0,...,NaN,NaN,NaN,2018.0,2.0,3.0,NaN,NaN,NaN,NaN
17,2018-06-15 06:38:15.980718,5b229f50-0b36-48c8-bb94-d2351611ebf8,250135.0,5,3247279715718000,False,Kosirae,250135.0,Kosirae,1.0,...,NaN,NaN,NaN,2018.0,0.0,5.0,NaN,NaN,NaN,NaN
18,2018-06-15 06:28:00.829863,7b3e98a3-71d5-413f-8ab5-fe62b435572c,275943.0,7,464458570863000,False,Bake a wish Japanese Homemade Cake,275943.0,Bake a wish Japanese Homemade Cake,1.0,...,NaN,NaN,NaN,2018.0,NaN,NaN,NaN,NaN,NaN,NaN
19,2018-06-15 06:58:10.186311,801c5dc9-5eb0-4333-a585-189bd9134ff1,125496.0,7,1347791581311000,False,Sushi Masa,125496.0,Sushi Masa,1.0,...,NaN,NaN,NaN,2018.0,NaN,NaN,NaN,NaN,NaN,NaN
20,2018-06-15 06:33:47.318876,0b3baa5d-1ce2-4f37-9ed2-337ccf39a81e,98956.0,8,1501138607876000,False,Arno's Butcher and Eatery,98956.0,Arno's Butcher and Eatery,1.0,...,NaN,NaN,NaN,2018.0,2.0,5.0,NaN,NaN,NaN,NaN
21,2018-06-15 05:30:30.866493,0b0cb8e9-0e3c-4b7b-8b8f-468bf75bc22c,199058.0,9,1705221684493000,False,Katsushin (),199058.0,Katsushin (),1.0,...,NaN,NaN,NaN,2018.0,NaN,2.0,NaN,NaN,NaN,NaN
22,2018-06-15 06:19:08.929452,a4b25240-a109-4c15-ba9f-42f27e55efad,98956.0,9,532315648452000,False,Arno's Butcher and Eatery,98956.0,Arno's Butcher and Eatery,1.0,...,NaN,NaN,NaN,2018.0,2.0,5.0,NaN,NaN,NaN,NaN
23,2018-06-15 06:46:57.082058,27c933f6-4b52-473a-a381-85ba5074c4a2,98956.0,9,550604997058000,False,Arno's Butcher and Eatery,98956.0,Arno's Butcher and Eatery,1.0,...,NaN,NaN,NaN,2018.0,2.0,5.0,NaN,NaN,NaN,NaN
24,2018-06-15 06:32:17.479651,829cca3c-5ae7-4359-b74b-821135a66d75,98956.0,9,467772042651000,False,Arno's Butcher and Eatery,98956.0,Arno's Butcher and Eatery,1.0,...,NaN,NaN,NaN,2018.0,2.0,5.0,NaN,NaN,NaN,NaN
25,2018-06-15 06:19:13.121808,1bea6e55-a3bf-4604-bbad-d16248876d3d,60155.0,9,2399275582808000,False,Chocolate Ville,60155.0,Chocolate Ville,1.0,...,NaN,NaN,NaN,2018.0,1.0,5.0,NaN,NaN,NaN,NaN
26,2018-06-15 05:35:15.473216,bc1ad55e-9009-4b26-8abd-6982978cbbcd,199058.0,10,149942042216000,False,Katsushin (),199058.0,Katsushin (),1.0,...,NaN,NaN,NaN,2018.0,NaN,2.0,NaN,NaN,NaN,NaN
27,2018-06-15 05:51:57.818187,59f51461-f730-4eea-a38d-037b6d7edeb0,60155.0,10,1237675606187000,False,Chocolate Ville,60155.0,Chocolate Ville,1.0,...,NaN,NaN,NaN,2018.0,1.0,5.0,NaN,NaN,NaN,NaN
28,2018-06-15 05:18:51.357792,2388ca79-4bab-4b7b-b3d8-692b1d7e6cf7,60155.0,10,1618106625792000,False,Chocolate Ville,60155.0,Chocolate Ville,1.0,...,NaN,NaN,NaN,2018.0,1.0,5.0,NaN,NaN,NaN,NaN
29,2018-06-15 06:29:14.175581,b0b61792-7a46-4e20-87a8-c0894028f025,199058.0,10,343456938581000,False,Katsushin (),199058.0,Katsushin (),1.0,...,NaN,NaN,NaN,2018.0,NaN,2.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7882007,2018-06-28 03:04:38.688831,fb294961-7655-48ac-863c-0622ac6eb213,189896.0,11,201684516831000,True,LE ROOT,189896.0,LE ROOT,1.0,...,1.0,1.0,1.0,NaN,1.0,2.0,0.0,0.0,NaN,1.0
7882008,2018-06-28 02:46:20.774890,fb6b26b1-42c8-4a0a-a18a-2e96b82dc978,244037.0,11,198392234890000,True,La Baguette,244037.0,La Baguette,1.0,...,1.0,1.0,1.0,NaN,1.0,4.0,NaN,NaN,NaN,NaN
7882009,2018-06-28 03:06:19.660861,fb8bde4f-07dc-41e1-9eb0-5b1ee1bb23e3,164383.0,11,208542734861000,True,,164383.0,,1.0,...,1.0,1.0,1.0,NaN,1.0,3.0,0.0,0.0,0.0,0.0
7882010,2018-06-28 04:36:17.821334,fbc1d0e2-561a-4c9f-a057-91de4719a159,29839.0,11,209855398334000,True,Gorilla Grill,29839.0,Gorilla Grill,1.0,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,1.0
7882011,2018-06-28 03:52:17.140538,fd05a947-0e26-4706-9363-ce7f909b66c1,240258.0,11,205050653538000,True,Coral Bungalows,240258.0,Coral Bungalows,1.0,...,1.0,1.0,1.0,NaN,1.0,3.0,0.0,1.0,0.0,0.0
7882012,2018-06-28 02:59:45.960274,fd7b0252-65b2-4019-9d10-0a59a85ab332,67265.0,11,207157503274000,True,Daddy's Antique Cafe & Restaurant,67265.0,Daddy's Antique Cafe & Restaurant,1.0,...,1.0,1.0,1.0,NaN,1.0,3.0,NaN,NaN,NaN,NaN
7882013,2018-06-28 04:28:46.122453,fddfded5-a6a2-45b1-8c9c-dc44e5c27b44,240033.0,11,209204432453000,True,Le Marin Restaurant,240033.0,Le Marin Restaurant,1.0,...,1.0,1.0,1.0,NaN,NaN,4.0,NaN,1.0,0.0,1.0
7882014,2018-06-28 03:20:15.729406,fe7cdab0-1abe-4a02-983f-d6bb57008b2c,172652.0,11,205187947406000,True,(Reunros),172652.0,(Reunros),1.0,...,NaN,NaN,NaN,NaN,1.0,3.0,NaN,NaN,NaN,NaN
7882015,2018-06-28 02:38:11.631020,fea45463-61d4-4309-a6f6-362c935cdb9e,16614.0,11,205023370020000,True,CORO Field Cafe,16614.0,CORO Field Cafe,1.0,...,NaN,NaN,NaN,NaN,2.0,3.0,NaN,NaN,NaN,NaN
7882016,2018-06-28 01:45:36.191993,feb92541-2311-4002-b040-2e59e9eaa52c,93853.0,11,200776108993000,True,PABLO mini Cheese Tart,93853.0,PABLO mini Cheese Tart,1.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,1.0
7882017,2018-06-28 01:31:52.451333,fed68a73-9567-47fb-bd92-8edecbe4bf8a,247196.0,11,198553207333000,True,Sushi Cyu & Carnival Yakiniku,247196.0,Sushi Cyu & Carnival Yakiniku,1.0,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
7882018,2018-06-28 04:35:51.858498,ff12f77e-e90e-4267-bec6-0f5958183494,182530.0,11,212419460498000,True,,182530.0,,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7882019,2018-06-28 02:56:28.920305,ff1c8485-74fa-4986-bb49-600eb3869926,36765.0,11,207024388305000,True,,36765.0,,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7882020,2018-06-28 02:36:42.750199,ff704c6a-9974-462e-9eb4-5c97f7a942f6,304669.0,11,202569029199000,True,Dripoly Cafe,304669.0,Dripoly Cafe,1.0,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
7882021,2018-06-28 06:43:29.213547,3059ca8e-fb7a-4a1d-bd82-c1970ec4ec8f,164383.0,11,16710547000,True,,164383.0,,1.0,...,1.0,1.0,1.0,NaN,1.0,3.0,0.0,0.0,0.0,0.0
7882022,2018-06-28 04:29:22.558914,488dad5a-5f38-4422-9c20-eb710d263cdc,269423.0,11,161675914000,True,Sushi Mori,269423.0,Sushi Mori,1.0,...,NaN,NaN,NaN,2018.0,1.0,3.0,NaN,NaN,NaN,NaN
7882023,2018-06-28 05:10:32.958794,49110256-777b-4e99-8b54-6fc13231788a,230281.0,11,106517794000,True,Food Universe Thai International Cuisine,230281.0,Food Universe Thai International Cuisine,1.0,...,NaN,NaN,NaN,NaN,1.0,4.0,NaN,NaN,NaN,1.0
7882024,2018-06-28 03:00:53.657497,4e70837c-69bc-477f-a1d7-26f534722dac,252499.0,11,9162497000,True,,252499.0,,1.0,...,1.0,1.0,1.0,NaN,1.0,5.0,NaN,NaN,NaN,1.0
7882025,2018-06-28 02:10:14.300088,55d6ab77-2388-4beb-b0c3-94c57710922d,273596.0,11,8934088000,True,(Tonklar Facai),273596.0,(Tonklar Facai),1.0,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0
7882026,2018-06-28 06:42:52.625642,58fef246-5a06-441a-b27e-2250ad5d47d7,304669.0,11,31291642000,True,Dripoly Cafe,304669.0,Dripoly Cafe,1.0,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
7882027,2018-06-28 01:25:07.953185,5d6f18b4-c147-46a6-806d-92fbf4abadcf,100611.0,11,18259185000,True,Zood Zood,100611.0,Zood Zood,1.0,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7882028,2018-06-28 05:35:18.653329,60bfb598-5c43-4e4e-98f4-e62bbe481546,240015.0,11,580967283329000,True,,240015.0,,1.0,...,1.0,1.0,1.0,NaN,1.0,5.0,0.0,0.0,0.0,0.0
7882029,2018-06-28 02:20:15.685338,8e138254-4546-4c7d-b1c3-9a3917290d17,335110.0,11,55937338000,True,,335110.0,,1.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
7882030,2018-06-28 06:41:46.111283,9c0e3c40-56a2-4d5d-b54e-c4d88f89f008,250231.0,11,29000283000,True,Enjoy Coffee and Bistro,250231.0,Enjoy Coffee and Bistro,1.0,...,1.0,1.0,NaN,NaN,2.0,2.0,NaN,NaN,NaN,NaN
7882031,2018-06-28 06:11:26.260735,9c581fe0-2d5c-4a93-91a5-5ff27a6bb2e1,107671.0,11,249069735000,True,Meruto Sushi,107671.0,Meruto Sushi,1.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
7882032,2018-06-28 01:59:10.893735,9ecd2dc1-b6f6-486d-b751-33eb16c53951,16614.0,11,4366735000,True,CORO Field Cafe,16614.0,CORO Field Cafe,1.0,...,NaN,NaN,NaN,NaN,2.0,3.0,NaN,NaN,NaN,NaN
7882033,2018-06-28 01:59:11.085196,9ecd2dc1-b6f6-486d-b751-33eb16c53951,16614.0,11,4558196000,True,CORO Field Cafe,16614.0,CORO Field Cafe,1.0,...,NaN,NaN,NaN,NaN,2.0,3.0,NaN,NaN,NaN,NaN
7882034,2018-06-28 06:49:02.493141,d086453d-7fde-4766-af39-8205f0f0a4aa,19569.0,11,16961141000,True,Fat Belly Pattaya,19569.0,Fat Belly Pattaya,1.0,...,1.0,1.0,1.0,NaN,1.0,2.0,0.0,NaN,NaN,0.0
7882035,2018-06-28 06:36:02.865507,d157eba1-15e6-4f7a-b090-27a311d976a0,227719.0,11,27917507000,True,The River Barn,227719.0,The River Barn,1.0,...,1.0,NaN,NaN,NaN,1.0,4.0,NaN,NaN,NaN,NaN
7882036,2018-06-28 06:20:35.249050,fb09595c-26cf-4bf3-a51b-1a9b4dd2fe50,316442.0,11,86426050000,True,Deven Chef Restaurant :Indian Food,316442.0,Deven Chef Restaurant :Indian Food,1.0,...,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,1.0

# 4. _One-hot-encoder_ for Categorical data

In [ ]:
w_restaurant_df = pandas.get_dummies(w_restaurant_df, columns=['wifi'])

In [ ]:
w_restaurant_df

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,bookable,best_of_wongnai,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery,wifi_0.0,wifi_1.0,wifi_2.0
0,2,,2,False,Samut Songkhram,75000,w4rh7g3,0,5.000000,0.0,...,NaN,NaN,13.0,NaN,NaN,NaN,NaN,0,0,0
4,7,Buono Caffe,1,False,Bangkok Metropolitan Region,10220,w4rx4gd,0,3.738462,0.0,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,0,1,0
5,14,,1,False,Chon Buri,NaN,w4rgsyz,0,5.000000,0.0,...,1.0,NaN,5.0,1.0,0.0,0.0,0.0,0,1,0
7,16,Sazanami,1,False,Bangkok Metropolitan Region,10110,w4rw0sp,0,4.130435,0.0,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,0,0,0
9,21,,1,False,Narathiwat,96000,w30kt51,0,3.000000,0.0,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1,0,0
10,24,Rotee Me Chabu,1,False,Bangkok Metropolitan Region,12130,w4rx3ys,0,4.047619,0.0,...,1.0,NaN,2.0,NaN,NaN,NaN,NaN,1,0,0
11,27,,1,False,Kanchanaburi,71000.0,w4qzbb4,0,3.568245,0.0,...,1.0,NaN,2.0,NaN,NaN,NaN,NaN,0,0,0
17,35,,1,False,Nakhon Sawan,60000,w4z1q7n,0,0.000000,0.0,...,0.0,NaN,3.0,NaN,NaN,NaN,NaN,0,1,0
20,38,,1,False,Bangkok Metropolitan Region,10100,w4rqpk8,0,3.055556,0.0,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1,0,0
22,42,,1,False,Bangkok Metropolitan Region,NaN,w4rx0fh,0,5.000000,0.0,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,0,0,0
23,44,OMG OH MY GELATO,1,False,Bangkok Metropolitan Region,NaN,w4rqytp,0,3.700000,0.0,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,1,0,0
30,54,Angkor Aran,1,False,Sa Kaeo,10600,w62vv1d,0,0.000000,0.0,...,NaN,NaN,3.0,NaN,1.0,NaN,NaN,0,1,0
33,63,Ajitsukasa Nomura,1,False,Okayama-ken,NaN,wypjpw8,0,4.000000,0.0,...,0.0,NaN,2.0,NaN,NaN,NaN,NaN,1,0,0
36,70,Wrap Master,1,False,Chiang Mai,NaN,w5q6unc,0,3.629630,0.0,...,0.0,NaN,5.0,0.0,0.0,0.0,1.0,0,0,0
37,71,Let's Fry By,1,False,Bangkok Metropolitan Region,NaN,w4rqqq0,0,0.000000,0.0,...,1.0,NaN,1.0,NaN,NaN,NaN,NaN,0,0,0
50,96,,1,False,Rayong,21160,w60peuj,0,3.000000,0.0,...,NaN,NaN,5.0,NaN,1.0,NaN,NaN,0,0,0
51,97,Nawamin,1,False,Bangkok Metropolitan Region,NaN,w4rwd6w,0,0.000000,0.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1,0,0
55,102,(),1,False,Chiang Rai,NaN,w5x1856,0,3.000000,0.0,...,1.0,NaN,3.0,NaN,NaN,NaN,NaN,1,0,0
60,111,-,1,False,Chiang Mai,NaN,w5qqhjs,0,3.984000,0.0,...,0.0,NaN,2.0,0.0,0.0,0.0,0.0,0,1,0
61,114,,1,False,Bangkok Metropolitan Region,10312,w4rw3e0,0,3.793103,18.0,...,NaN,NaN,2.0,NaN,NaN,NaN,1.0,0,1,0
62,116,Zenna Thai And Japanese,1,False,Texas,NaN,9vff298,0,0.000000,0.0,...,1.0,NaN,5.0,NaN,NaN,NaN,NaN,0,1,0
68,125,Oldies Bar & Bistro,1,False,Chon Buri,20230,w4rf8du,0,0.000000,0.0,...,1.0,NaN,2.0,NaN,NaN,NaN,NaN,0,0,0
69,126,Dolce Italia,1,False,Chiang Rai,NaN,w5x18re,0,4.000000,0.0,...,0.0,NaN,1.0,NaN,NaN,NaN,NaN,1,0,0
70,128,ABC Kitchen,1,False,Bangkok Metropolitan Region,10120,w4rw010,0,4.000000,0.0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,0,0
78,146,RJ.GRUNTS Burger&Fries,1,False,Illinois,NaN,dp3wb12,0,4.000000,0.0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,1,0
81,149,WISH CLINIC,2,False,Khon Kaen,NaN,w6cj7qn,0,5.000000,0.0,...,1.0,NaN,11.0,NaN,NaN,NaN,NaN,0,1,0
82,154,Blue,1,False,Bangkok Metropolitan Region,NaN,w4rmvuv,0,0.000000,0.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0,0,0
86,164,Beta House,1,False,Chon Buri,20130,w4rg88r,0,3.000000,0.0,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,0,0,0
91,175,,1,False,Phuket,83000,w1muz5d,0,3.857143,0.0,...,0.0,NaN,2.0,NaN,NaN,NaN,NaN,1,0,0
93,179,Sabai Thai Massage,2,False,Bangkok Metropolitan Region,NaN,w4rw654,0,3.000000,0.0,...,NaN,NaN,11.0,NaN,NaN,NaN,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246730,339810,,1,False,Nakhon Sawan,60110,w4zd285,0,4.000000,0.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0,0,0
246732,339815,,1,False,Bangkok Metropolitan Region,10700,w4rqq0q,0,0.000000,0.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1,0,0
246738,339837,,1,False,Kanchanaburi,NaN,w4wbkes,0,3.055556,0.0,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,0,0,0
246742,339847,New nails,2,False,Bangkok Metropolitan Region,10800,w4rqzfs,0,3.032258,0.0,...,NaN,NaN,11.0,NaN,NaN,NaN,NaN,0,0,0
246757,339876,2 .,1,False,Suphan Buri,72000,w4x4q50,0,4.000000,0.0,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,0,0,0
246758,339877,Aluco Coffee,1,False,Bangkok Metropolitan Region,NaN,w4rtuss,0,5.000000,0.0,...,0.0,NaN,3.0,NaN,NaN,NaN,NaN,0,0,0
246761,339881,,1,False,Phetchaburi,NaN,w4r4d3u,0,0.000000,0.0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,0,0
246762,339882,,1,False,Surin,NaN,w69senq,0,5.000000,0.0,...,1.0,NaN,2.0,NaN,NaN,NaN,NaN,0,1,0
246764,339885,,1,False,Bangkok Metropolitan Region,10310,w4rw2wu,0,4.000000,0.0,...,0.0,NaN,3.0,NaN,NaN,NaN,NaN,1,0,0
246770,339895,Caf Terrace,1,False,Chon Buri,20110,w4rfdk1,0,0.000000,0.0,...,1.0,NaN,4.0,NaN,1.0,NaN,NaN,0,1,0
246773,339901,Sobok,1,False,Incheon,NaN,wy9vj3n,0,4.500000,0.0,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,0,1,0
246774,339903,,1,False,Bangkok Metropolitan Region,10600,w4rqngz,0,4.000000,0.0,...,0.0,NaN,0.0,NaN,0.0,NaN,NaN,1,0,0
246775,339904,Pondok Tempo Doeloe,1,False,Bali,80361,qw3ymhg,0,3.000000,0.0,...,1.0,NaN,5.0,NaN,NaN,NaN,NaN,1,0,0
246788,339934,Silla,1,False,Scotland,NaN,gcuvy3z,0,5.000000,0.0,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,1,0,0
246791,339937,,1,False,,26000,w4xbz45,0,2.500000,0.0,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,0,0,0
246792,339938,,1,False,Ubon Ratchathani,NaN,w6dwdkv,0,2.909091,0.0,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,0,1,0
246793,339939,&,1,False,Suphan Buri,72000,w4x4q1j,0,4.000000,0.0,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1,0,0
246797,339943,Caf in Mind,1,False,Sukhothai,NaN,w5nf99m,1,5.000000,0.0,...,0.0,NaN,2.0,0.0,0.0,0.0,0.0,0,1,0
246801,339953,Best Bar,1,False,Bangkok Metropolitan Region,73170,w4rqd8x,0,3.000000,0.0,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,0,0,0
246802,339955,Gaa,1,False,Bangkok Metropolitan Region,10330,w4rqpuu,0,4.103250,0.0,...,1.0,NaN,2.0,0.0,0.0,NaN,0.0,0,0,0
246806,339965,,1,False,Bangkok Metropolitan Region,NaN,w4rmfps,1,0.000000,0.0,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,0,0,0
246809,339980,Star Hotel Rayong,1,False,Rayong,21000.0,w6200mr,0,0.000000,0.0,...,1.0,NaN,5.0,NaN,1.0,NaN,NaN,0,1,0
246813,339998,TOONGs COFFEE Roasters,1,False,Chiang Mai,50230,w5q6e0g,0,0.000000,0.0,...,0.0,NaN,1.0,NaN,NaN,NaN,NaN,0,0,1
246821,340024,,1,False,Bangkok Metropolitan Region,NaN,w4rwj1f,0,0.000000,0.0,...,1.0,NaN,2.0,NaN,NaN,NaN,NaN,0,0,1
246826,340031,,1,False,Chiang Mai,NaN,w5q6ws4,0,3.000000,0.0,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,0,1,0
246827,340035,.,1,False,Bangkok Metropolitan Region,10900.0,w4rw2p8,0,4.483871,0.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0,0,0
246829,340037,Fatboy's Burger Bar,1,False,Kamphaeng Phet,NaN,w4yv8z6,0,4.357143,0.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0,0,0
246836,340054,,1,False,Phatthalung,NaN,w1r5m7j,0,4.000000,0.0,...,0.0,NaN,2.0,NaN,NaN,NaN,NaN,0,1,0
246839,340060,,1,False,Lampang,NaN,w5qb02b,1,3.032258,0.0,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1,0,0
246843,340070,,1,False,Bangkok Metropolitan Region,NaN,w4rwjcg,0,0.000000,0.0,...,1.0,NaN,2.0,NaN,NaN,NaN,NaN,0,0,0

# 8. Group By -- Aggregation
https://www.kaggle.com/crawford/python-groupby-tutorial#

<img src="https://github.com/tohnperfect/KKU_Data_Mining/blob/master/03.08-split-apply-combine.png?raw=1">

In [ ]:
groups = search_click_df.groupby('business_id')

In [ ]:
groups

In [ ]:
groups.count()

,business_id,click_timestamp,search_id,display_position,time_diff_nanos,ads,bu_name
0,2.0,21,21,21,21,21,21
1,4.0,9,9,9,9,9,9
2,5.0,19,19,19,19,19,19
3,6.0,61,61,61,61,61,61
4,7.0,57,57,57,57,57,57
5,14.0,36,36,36,36,36,36
6,15.0,11,11,11,11,11,11
7,16.0,935,935,935,935,935,935
8,20.0,4,4,4,4,4,4
9,21.0,8,8,8,8,8,8
10,24.0,113,113,113,113,113,113
11,27.0,206,206,206,206,206,206
12,28.0,6,6,6,6,6,6
13,29.0,16,16,16,16,16,16
14,30.0,4,4,4,4,4,4
15,32.0,5,5,5,5,5,5
16,34.0,70,70,70,70,70,70
17,35.0,4,4,4,4,4,4
18,36.0,4,4,4,4,4,4
19,37.0,2,2,2,2,2,2
20,38.0,14,14,14,14,14,14
21,41.0,6,6,6,6,6,6
22,42.0,4,4,4,4,4,4
23,44.0,32,32,32,32,32,32
24,45.0,2,2,2,2,2,2
25,46.0,9,9,9,9,9,9
26,49.0,22,22,22,22,22,22
27,50.0,17,17,17,17,17,17
28,51.0,4,4,4,4,4,4
29,52.0,101,101,101,101,101,101
...,...,...,...,...,...,...,...
246817,340007.0,15,15,15,15,15,15
246818,340011.0,11,11,11,11,11,11
246819,340015.0,2,2,2,2,2,2
246820,340022.0,1,1,1,1,1,1
246821,340024.0,63,63,63,63,63,63
246822,340025.0,54,54,54,54,54,54
246823,340027.0,7,7,7,7,7,7
246824,340028.0,8,8,8,8,8,8
246825,340029.0,2,2,2,2,2,2
246826,340031.0,5,5,5,5,5,5
246827,340035.0,56,56,56,56,56,56
246828,340036.0,5,5,5,5,5,5
246829,340037.0,22,22,22,22,22,22
246830,340038.0,6,6,6,6,6,6
246831,340041.0,2,2,2,2,2,2
246832,340042.0,4,4,4,4,4,4
246833,340043.0,2,2,2,2,2,2
246834,340048.0,5,5,5,5,5,5
246835,340051.0,1,1,1,1,1,1
246836,340054.0,6,6,6,6,6,6
246837,340056.0,2,2,2,2,2,2
246838,340059.0,3,3,3,3,3,3
246839,340060.0,44,44,44,44,44,44
246840,340063.0,16,16,16,16,16,16
246841,340067.0,7,7,7,7,7,7
246842,340068.0,71,71,71,71,71,71
246843,340070.0,32,32,32,32,32,32
246844,340074.0,9,9,9,9,9,9
246845,340079.0,4,4,4,4,4,4
246846,340091.0,5,5,5,5,5,5

In [ ]:
count_table=groups.count().reset_index()

In [ ]:
w_restaurant_df['num_click'] = w_restaurant_df['id'].map(count_table.set_index('business_id')['ads'])

In [ ]:
w_restaurant_df

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,best_of_wongnai,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery,wifi_0.0,wifi_1.0,wifi_2.0,num_click
0,2,,2,False,Samut Songkhram,75000,w4rh7g3,0,5.000000,0.0,...,NaN,13.0,NaN,NaN,NaN,NaN,0,0,0,21
4,7,Buono Caffe,1,False,Bangkok Metropolitan Region,10220,w4rx4gd,0,3.738462,0.0,...,NaN,2.0,NaN,NaN,NaN,NaN,0,1,0,57
5,14,,1,False,Chon Buri,NaN,w4rgsyz,0,5.000000,0.0,...,NaN,5.0,1.0,0.0,0.0,0.0,0,1,0,36
7,16,Sazanami,1,False,Bangkok Metropolitan Region,10110,w4rw0sp,0,4.130435,0.0,...,NaN,2.0,NaN,NaN,NaN,NaN,0,0,0,935
9,21,,1,False,Narathiwat,96000,w30kt51,0,3.000000,0.0,...,NaN,2.0,NaN,NaN,NaN,NaN,1,0,0,8
10,24,Rotee Me Chabu,1,False,Bangkok Metropolitan Region,12130,w4rx3ys,0,4.047619,0.0,...,NaN,2.0,NaN,NaN,NaN,NaN,1,0,0,113
11,27,,1,False,Kanchanaburi,71000.0,w4qzbb4,0,3.568245,0.0,...,NaN,2.0,NaN,NaN,NaN,NaN,0,0,0,206
17,35,,1,False,Nakhon Sawan,60000,w4z1q7n,0,0.000000,0.0,...,NaN,3.0,NaN,NaN,NaN,NaN,0,1,0,4
20,38,,1,False,Bangkok Metropolitan Region,10100,w4rqpk8,0,3.055556,0.0,...,NaN,2.0,NaN,NaN,NaN,NaN,1,0,0,14
22,42,,1,False,Bangkok Metropolitan Region,NaN,w4rx0fh,0,5.000000,0.0,...,NaN,2.0,NaN,NaN,NaN,NaN,0,0,0,4
23,44,OMG OH MY GELATO,1,False,Bangkok Metropolitan Region,NaN,w4rqytp,0,3.700000,0.0,...,NaN,0.0,NaN,NaN,NaN,NaN,1,0,0,32
30,54,Angkor Aran,1,False,Sa Kaeo,10600,w62vv1d,0,0.000000,0.0,...,NaN,3.0,NaN,1.0,NaN,NaN,0,1,0,18
33,63,Ajitsukasa Nomura,1,False,Okayama-ken,NaN,wypjpw8,0,4.000000,0.0,...,NaN,2.0,NaN,NaN,NaN,NaN,1,0,0,12
36,70,Wrap Master,1,False,Chiang Mai,NaN,w5q6unc,0,3.629630,0.0,...,NaN,5.0,0.0,0.0,0.0,1.0,0,0,0,86
37,71,Let's Fry By,1,False,Bangkok Metropolitan Region,NaN,w4rqqq0,0,0.000000,0.0,...,NaN,1.0,NaN,NaN,NaN,NaN,0,0,0,5
50,96,,1,False,Rayong,21160,w60peuj,0,3.000000,0.0,...,NaN,5.0,NaN,1.0,NaN,NaN,0,0,0,3
51,97,Nawamin,1,False,Bangkok Metropolitan Region,NaN,w4rwd6w,0,0.000000,0.0,...,NaN,1.0,NaN,NaN,NaN,NaN,1,0,0,2
55,102,(),1,False,Chiang Rai,NaN,w5x1856,0,3.000000,0.0,...,NaN,3.0,NaN,NaN,NaN,NaN,1,0,0,13
60,111,-,1,False,Chiang Mai,NaN,w5qqhjs,0,3.984000,0.0,...,NaN,2.0,0.0,0.0,0.0,0.0,0,1,0,49
61,114,,1,False,Bangkok Metropolitan Region,10312,w4rw3e0,0,3.793103,18.0,...,NaN,2.0,NaN,NaN,NaN,1.0,0,1,0,82
62,116,Zenna Thai And Japanese,1,False,Texas,NaN,9vff298,0,0.000000,0.0,...,NaN,5.0,NaN,NaN,NaN,NaN,0,1,0,3
68,125,Oldies Bar & Bistro,1,False,Chon Buri,20230,w4rf8du,0,0.000000,0.0,...,NaN,2.0,NaN,NaN,NaN,NaN,0,0,0,497
69,126,Dolce Italia,1,False,Chiang Rai,NaN,w5x18re,0,4.000000,0.0,...,NaN,1.0,NaN,NaN,NaN,NaN,1,0,0,60
70,128,ABC Kitchen,1,False,Bangkok Metropolitan Region,10120,w4rw010,0,4.000000,0.0,...,NaN,0.0,NaN,NaN,NaN,NaN,0,0,0,26
78,146,RJ.GRUNTS Burger&Fries,1,False,Illinois,NaN,dp3wb12,0,4.000000,0.0,...,NaN,0.0,NaN,NaN,NaN,NaN,0,1,0,5
81,149,WISH CLINIC,2,False,Khon Kaen,NaN,w6cj7qn,0,5.000000,0.0,...,NaN,11.0,NaN,NaN,NaN,NaN,0,1,0,14
82,154,Blue,1,False,Bangkok Metropolitan Region,NaN,w4rmvuv,0,0.000000,0.0,...,NaN,1.0,NaN,NaN,NaN,NaN,0,0,0,27
86,164,Beta House,1,False,Chon Buri,20130,w4rg88r,0,3.000000,0.0,...,NaN,2.0,NaN,NaN,NaN,NaN,0,0,0,28
91,175,,1,False,Phuket,83000,w1muz5d,0,3.857143,0.0,...,NaN,2.0,NaN,NaN,NaN,NaN,1,0,0,13
93,179,Sabai Thai Massage,2,False,Bangkok Metropolitan Region,NaN,w4rw654,0,3.000000,0.0,...,NaN,11.0,NaN,NaN,NaN,NaN,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246730,339810,,1,False,Nakhon Sawan,60110,w4zd285,0,4.000000,0.0,...,NaN,1.0,NaN,NaN,NaN,NaN,0,0,0,11
246732,339815,,1,False,Bangkok Metropolitan Region,10700,w4rqq0q,0,0.000000,0.0,...,NaN,1.0,NaN,NaN,NaN,NaN,1,0,0,3
246738,339837,,1,False,Kanchanaburi,NaN,w4wbkes,0,3.055556,0.0,...,NaN,2.0,NaN,NaN,NaN,NaN,0,0,0,28
246742,339847,New nails,2,False,Bangkok Metropolitan Region,10800,w4rqzfs,0,3.032258,0.0,...,NaN,11.0,NaN,NaN,NaN,NaN,0,0,0,27
246757,339876,2 .,1,False,Suphan Buri,72000,w4x4q50,0,4.000000,0.0,...,NaN,3.0,NaN,NaN,NaN,NaN,0,0,0,32
246758,339877,Aluco Coffee,1,False,Bangkok Metropolitan Region,NaN,w4rtuss,0,5.000000,0.0,...,NaN,3.0,NaN,NaN,NaN,NaN,0,0,0,2
246761,339881,,1,False,Phetchaburi,NaN,w4r4d3u,0,0.000000,0.0,...,NaN,0.0,NaN,NaN,NaN,NaN,0,0,0,9
246762,339882,,1,False,Surin,NaN,w69senq,0,5.000000,0.0,...,NaN,2.0,NaN,NaN,NaN,NaN,0,1,0,3
246764,339885,,1,False,Bangkok Metropolitan Region,10310,w4rw2wu,0,4.000000,0.0,...,NaN,3.0,NaN,NaN,NaN,NaN,1,0,0,4
246770,339895,Caf Terrace,1,False,Chon Buri,20110,w4rfdk1,0,0.000000,0.0,...,NaN,4.0,NaN,1.0,NaN,NaN,0,1,0,33
246773,339901,Sobok,1,False,Incheon,NaN,wy9vj3n,0,4.500000,0.0,...,NaN,3.0,NaN,NaN,NaN,NaN,0,1,0,7
246774,339903,,1,False,Bangkok Metropolitan Region,10600,w4rqngz,0,4.000000,0.0,...,NaN,0.0,NaN,0.0,NaN,NaN,1,0,0,22
246775,339904,Pondok Tempo Doeloe,1,False,Bali,80361,qw3ymhg,0,3.000000,0.0,...,NaN,5.0,NaN,NaN,NaN,NaN,1,0,0,5
246788,339934,Silla,1,False,Scotland,NaN,gcuvy3z,0,5.000000,0.0,...,NaN,3.0,NaN,NaN,NaN,NaN,1,0,0,20
246791,339937,,1,False,,26000,w4xbz45,0,2.500000,0.0,...,NaN,3.0,NaN,NaN,NaN,NaN,0,0,0,24
246792,339938,,1,False,Ubon Ratchathani,NaN,w6dwdkv,0,2.909091,0.0,...,NaN,3.0,NaN,NaN,NaN,NaN,0,1,0,3
246793,339939,&,1,False,Suphan Buri,72000,w4x4q1j,0,4.000000,0.0,...,NaN,2.0,NaN,NaN,NaN,NaN,1,0,0,22
246797,339943,Caf in Mind,1,False,Sukhothai,NaN,w5nf99m,1,5.000000,0.0,...,NaN,2.0,0.0,0.0,0.0,0.0,0,1,0,59
246801,339953,Best Bar,1,False,Bangkok Metropolitan Region,73170,w4rqd8x,0,3.000000,0.0,...,NaN,3.0,NaN,NaN,NaN,NaN,0,0,0,455
246802,339955,Gaa,1,False,Bangkok Metropolitan Region,10330,w4rqpuu,0,4.103250,0.0,...,NaN,2.0,0.0,0.0,NaN,0.0,0,0,0,57
246806,339965,,1,False,Bangkok Metropolitan Region,NaN,w4rmfps,1,0.000000,0.0,...,NaN,3.0,NaN,NaN,NaN,NaN,0,0,0,29
246809,339980,Star Hotel Rayong,1,False,Rayong,21000.0,w6200mr,0,0.000000,0.0,...,NaN,5.0,NaN,1.0,NaN,NaN,0,1,0,6
246813,339998,TOONGs COFFEE Roasters,1,False,Chiang Mai,50230,w5q6e0g,0,0.000000,0.0,...,NaN,1.0,NaN,NaN,NaN,NaN,0,0,1,7
246821,340024,,1,False,Bangkok Metropolitan Region,NaN,w4rwj1f,0,0.000000,0.0,...,NaN,2.0,NaN,NaN,NaN,NaN,0,0,1,63
246826,340031,,1,False,Chiang Mai,NaN,w5q6ws4,0,3.000000,0.0,...,NaN,4.0,NaN,NaN,NaN,NaN,0,1,0,5
246827,340035,.,1,False,Bangkok Metropolitan Region,10900.0,w4rw2p8,0,4.483871,0.0,...,NaN,1.0,NaN,NaN,NaN,NaN,0,0,0,56
246829,340037,Fatboy's Burger Bar,1,False,Kamphaeng Phet,NaN,w4yv8z6,0,4.357143,0.0,...,NaN,1.0,NaN,NaN,NaN,NaN,0,0,0,22
246836,340054,,1,False,Phatthalung,NaN,w1r5m7j,0,4.000000,0.0,...,NaN,2.0,NaN,NaN,NaN,NaN,0,1,0,6
246839,340060,,1,False,Lampang,NaN,w5qb02b,1,3.032258,0.0,...,NaN,2.0,NaN,NaN,NaN,NaN,1,0,0,44
246843,340070,,1,False,Bangkok Metropolitan Region,NaN,w4rwjcg,0,0.000000,0.0,...,NaN,2.0,NaN,NaN,NaN,NaN,0,0,0,32

In [ ]:
## Build a table which only shows id, name, rating, num_clicks. How?

# 12. Save to use with other applications

In [ ]:
search_click_df.to_csv('search_click_extracted_time.csv')

<img src="https://github.com/tohnperfect/KKU_Data_Mining/blob/master/panda_end2.jpg?raw=1"> 
jupyter nbconvert "Basic ELT with Pandas.ipynb" --to pdf